:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
}

#informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgb(48, 207, 208, 0.5) 0%, rgb(25, 96, 142, 0.5) 100%),url(https://firebasestorage.googleapis.com/v0/b/efa-contenido.appspot.com/o/imagenes%20de%20la%20pagina%2Ffondo-login.jpg?alt=media&token=21898fc2-5ca2-4e0e-a91b-200ca527b260);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

#informacion img {
    width: 70%;
}

#login {
    padding: 3%;
    height: 100vh;
}
#login .titulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#login p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#login form .caja {
    width: 86%;
    margin: 8% 7%;
}
#login form .caja label {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primario);
}
#login form .caja .form-control {
    font-size: 1rem;
    border: 2px solid var(--color-segundario);
    height: 3rem;
}

#login form .caja .input-contra {
    display: flex;
    flex-direction: row;
    border-radius:0.375rem ;
    border: 2px solid var(--color-segundario);;
}

#login form .caja .input-contra .form-control {
   border: none;
}

#login form .caja .input-contra .btn {
    border: none;
 }

.btn-login{
    background-color: var(--color-primario);
    font-weight: 500;
    color: white;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    transform: translateY(0);
    padding: 3px 2%;
    border: none;
    font-size:18px; 
    margin: 2% 10%;
    width: 80%;
    height: 45px;
}

#login .btn-login:hover{
    background-color: white;
    color: var(--color-primario);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

