:root{
    --color-primario:#04AAE8;
    --color-segundario:#FBB641;
    --color-fuerte:#19608E;
}
body{
    padding: 2%;
    background-image: url(/images/login.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.informacion {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

h1{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 2%;
}

.card {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-title {
    text-align: center;
    margin-bottom: 10px;

  }

  .card-price {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #007bff; /* Color azul de Bootstrap */
  }

  .whatsapp-btn {
    background-color: var(--color-segundario); /* Color verde de WhatsApp */
    color: #fff;
    border: none;
    padding: 2%;
    border-radius: 5px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .whatsapp-btn i {
    margin-right: 10px;
  }