 :root{
    --color-primario:#04AAE8;
    --color-segundario:#FBB641;
    --color-fuerte:#19608E;
}
body{
    /* background-image: linear-gradient(120deg, rgb(86, 204, 242,0.8) 0%, rgb(86, 204, 242,0.8) 100%), url(images/fondo.jpg); */
    background: var(--color-primario);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.datos{
    padding: 3%;
}
/* .btn{
    align-self: flex-start;
    background-color: var(--color-segundario);
    font-weight: 600;
    color: white;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    transform: translateY(0);
    border-radius: 50px;
    padding: 3px 2%;
    border: none;
    font-size: large;
}
.btn:hover{
    background-color: white;
    color: var(--color-segundario);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
} */


