:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*Navbar*/
.navbar .container-fluid {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar .container-fluid .btn {
    margin: 4px 6px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*Principal*/

.principal {
    background: rgb(0, 212, 255, 0.5);
    background-image: linear-gradient(120deg, rgb(86, 204, 242, 0.5) 0%, rgb(86, 204, 242, 0.5) 100%), url(https://firebasestorage.googleapis.com/v0/b/efa-contenido.appspot.com/o/imagenes%20de%20la%20pagina%2Ffondo-welcome.jpg?alt=media&token=721301ca-2fae-4130-b801-08178add26e4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    padding: 0 1%;
}

.text-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.text-principal h1 {
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin: 2% 0;
    font-family: 'Montserrat', sans-serif;
}

.text-principal h3 {
    padding: 1%;
    background: var(--color-primario);
}

.btn-inicio {
    display: flex;
    width: 238px;
    height: 49px;
    padding: 11px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: var(--color-segundario);
    border-style: none;
    margin-top: 5%;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: box-shadow 0.3s, transform 0.3s;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.btn-inicio:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
    color: var(--color-segundario);
    background-color: #FFF;
}

#redes_sociales a {
    margin: 0px 5px;
    border-radius: 100%;
    color: white;
    font-size: 28px;
    width: auto;
}

/* bienvenida */
#bienvenida {
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(/images/fondo-bie.png);
    /* background-image: url(/images/fondo-bie.png); */
    text-align: center;
    padding: 3%;
}

#bienvenida h1 {
    color: var(--color-primario);
    margin: 3% 0;
    font-family: 'Montserrat', sans-serif;
}

#bienvenida .col-lg-6 {
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bienvenida .col-lg-6 p {
    text-align: left;
    /* letter-spacing: 0.2px; */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#bienvenida img {
    width: 90%;
    border-radius: 5px;
}

/* oferta */

#oferta {
    background-image: linear-gradient(120deg, rgb(4, 170, 232, 0.5) 0%, rgb(4, 170, 232, 0.5) 100%), url(https://firebasestorage.googleapis.com/v0/b/efa-contenido.appspot.com/o/imagenes%20de%20la%20pagina%2FfondoOferta.jpg?alt=media&token=740402c9-82d8-4398-835c-dcda4a246d83);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;

}

#oferta h2 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#oferta .imag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#oferta img {
    width: 70%;
}

#oferta .text-oferta {
    background-color: var(--color-primario);
    border-radius: 0px 50px 50px 0px;
    border-right: 5px solid #FFFEFE;
    border-bottom: 5px solid #FFFEFE;
    margin: 3% 0;
    height: 71px;
    display: flex;
    align-items: center;
    padding: 0 2%;
    width: 96%;
}

#oferta .text-oferta span {
    font-size: 20px;
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.text-oferta .bi {
    color: white;
    font-size: xx-large;
    margin: 0 2%;

}

/* Contenido */

#contenido {
    background-color: var(--color-fuerte);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#contenido .tarjeta_temas {
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    width: 90%;
    margin: 0% 5%;
}

#contenido fieldset {
    border: 2px solid var(--color-primario);
    padding: 5.6px 12px 10px 12px;
}

#contenido legend {
    float: none;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
}

#contenido .int_temas p {
    color: white;
    font-size: 16px;
}

#contenido .temas p {
    margin-bottom: 2px;
    text-align: left;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2px;
}

#contenido .temas p i {
    margin-right: 5px;
    color: var(--color-segundario);
}



/* Niveles */
#niveles {
    background-image: linear-gradient(120deg, rgb(64, 64, 64, 0.8) 0%, rgb(64, 64, 64, 0.8) 100%), url(https://firebasestorage.googleapis.com/v0/b/efa-contenido.appspot.com/o/imagenes%20de%20la%20pagina%2FfondoNivel.jpg?alt=media&token=cd2b99ea-7227-4dea-aab1-abc667362abb);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
}

#niveles h2 {
    color: var(--color-segundario);
    margin: 3% 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255);
}

#niveles .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#niveles .lista {
    border: white solid 2px;
    border-radius: 50px;
    padding: 4%;
}

#niveles .text-nivel {
    color: #FFF;
    text-align: left;
    width: 90%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#niveles .nivel {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 35px;
}

#niveles .nivel h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#niveles .nivel p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* paquetes */

#paquetes{
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(/images/fondo-bie.png);
    text-align: center;
    padding: 2%;
}
#paquetes h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-segundario);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

#paquetes .tarjeta{   
    font-family: 'Montserrat', sans-serif;                     
    padding: 15px 15px;     
    background: white;     
    box-shadow: 2px 2px 3px rgb(49, 49, 49); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tarjeta .card-title h5{
    color:var(--color-primario);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}
#paquetes .tarjeta .precio span{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-segundario);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
}
#paquetes .tarjeta .precio{
    color: #5a5a5a;
}
#paquetes .tarjeta .btn-paquete{
    text-decoration: none;
    color: black;
    padding: 2%;
    width: 80%;
    border-radius: 99px;
    margin: 1% 0%;
    background-image: linear-gradient(to right, #ffc918 0%, rgb(232, 152, 4) 100%);
    box-shadow: 2px 2px 4px rgb(49, 49, 49);

}

#contacto {
    background-image: linear-gradient(120deg, rgb(4, 170, 232, 0.4) 0%, rgb(4, 170, 232, 0.4) 100%), url(https://firebasestorage.googleapis.com/v0/b/efa-contenido.appspot.com/o/imagenes%20de%20la%20pagina%2Ffondo-contacto.jpg?alt=media&token=e56eabe1-8edd-4e7a-889f-9c113694ed0b);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
}

#contacto h2,
p {
    text-align: center;
}


.boton-enviar {
    margin-top: 3%;
}


#contacto label {
    font-weight: 600;
    align-self: start;
    margin: 1% 0;
}

#contacto input {
    width: 100%;
    padding: 10px;
}

#contacto textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
}

.enviar {
    display: flex;
    width: 433px;
    height: 49px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--color-primario);
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: box-shadow 0.3s, transform 0.3s;
}

.enviar:hover {
    background: #FFF;
    color: var(--color-primario);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}


/* Pie de pagina */
#piePagina {
    background-color: #404040;
    color: white;
    padding: 1%;
}

#piePagina .iconos a i {
    color: white;
    font-size: x-large;
}

#piePagina .iconos a i:hover {
    color: var(--color-primario);
}

#piePagina .iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

#piePagina .datos {
    text-align: center;
    margin-top: 10px;
    border-left: solid 1px white;
    align-items: center;
}

#piePagina .datos p {
    font-size: 16px;
    margin-bottom: 5px;

}

#piePagina img {
    width: auto; /* La imagen ajustará su tamaño automáticamente */
    max-width: 100px; /* Establece un ancho máximo para la imagen */
    margin: 5px auto;
}


#copy {
    margin: 1% 0 0 0;
    /* border-top: #FFF solid 1px; */
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    #piePagina .iconos {
        margin-top: 8px; /* Reduce el margen en dispositivos móviles */
    }

    
    #piePagina .datos p {
        font-size: 14px; /* Reduce el tamaño de fuente en dispositivos móviles */
    }
}

/* Estilos específicos para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
    #piePagina .iconos {
        margin-top: 0px; /* Ajusta el margen en tabletas */
    }

    #piePagina .datos p {
        font-size: 15px; /* Ajusta el tamaño de fuente en tabletas */
    }
}

@media (max-width: 767px) {
    #contenido {
        padding: 4% 3%;
    }

    .principal {
        height: 500px;
    }

    .text-principal h1 {
        font-size: 40px;
    }

    #bienvenida .col-lg-6 p {
        letter-spacing: 0.1px;
        font-size: 16px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }

    #oferta .text-oferta span {
        font-size: 15px;
        color: white;
    }

    /*Contenidos*/

    #contenido .int_temas p {
        font-size: 14px;
    }

    #contenido .temas p {
        font-size: 14px;
    }

    .text-oferta .bi {
        font-size: x-large;
        margin: 0 2%;

    }

    .cont-unidad .accordion-button {
        text-transform: uppercase;
        font-size: 15px;
    }

    #niveles .text-nivel {
        width: 90%;
        font-size: 14px;
    }

    #niveles .lista {
        font-size: 14px;
    }

    #niveles .nivel {
        gap: 15px;
    }

    .logo img {
        width: 30%;
    }

    #piePagina .col-md-12 {
        padding: 3%;
    }

    #piePagina .datos p {
        font-size: 14px;
        margin-bottom: 0;
    }

    #piePagina .iconos {
        justify-content: space-around;
        font-size: x-large;
    }
}