:root{
    --color-primario:#04AAE8;
    --color-segundario:#FBB641;
    --color-fuerte:#19608E;
}

#carrusel{
    height: 500px;
}

#carrusel .carousel-item{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#elemento{
    padding: 3%;
    text-align: center;
}
#nivel .info-nivel{
    padding: 2%;
}

#nivel .info-nivel .btn-muestra{
    background-image:url('/images/login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh;

}
.carousel-caption{
   background-color:rgb(4, 170, 232,0.8);
   border-radius: 15px;


}
.carousel-caption h2{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 27px;
}

.carousel-caption p{
    color: #FFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
}


#nivel .info-nivel .modal-body h3{
    text-transform: uppercase;
    text-align: start;
    color: var(--color-primario);
}
#nivel .info-nivel .modal-body ul{
    list-style: none;
    text-align: left;
}
#nivel .info-nivel .modal-body ul li{
    list-style: none;
    text-align: left;
}
#nivel .info-nivel .modal-body ul li i{
    color: var(--color-segundario);
}
#nivel .modal-content{
    border-radius: 0px;
    border: none;
    text-align: start;
}

#nivel .info-nivel .numero {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-primario); /* Puedes ajustar el color de fondo según tus preferencias */
    color: white;
    width: 30px; /* Ajusta el ancho según tus preferencias */
    height: 30px; /* Ajusta la altura según tus preferencias */
    text-align: center;
    line-height: 30px; /* Ajusta la altura de línea para centrar el texto verticalmente */
    margin-right: 5px; /* Ajusta el margen derecho según tus preferencias */
    font-size: 22px;
}