:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-rojo: #F44336;
    --color-verde: #4CAF50;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 100%), url(/images/fondo-bie.png);
}

.formulario h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-segundario);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.7);
    margin: 2% 0%;
}


.formulario .cont-pregunta {
    background-color: var(--color-segundario);
    font-size: 18px;
    padding: 2%;
    margin: 10px 0%;
    border-radius: 5px;
    width: 65%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.521);
}

input[type="radio"]:checked {
    background-color: var(--color-fuerte)
        /* Cambia este color por el que desees */
}

.formulario .cont-respuesta {
    width: 65%;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 3px 2px 3px 15px;    
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.521);
}

.correcto {
    border: solid 2px var(--color-verde);
    background-color:#c0ffc2;
}

.correcto .respuesta {
    font-size: 17px;
}

.incorrecto {
    border: solid 2px var(--color-rojo);
    background-color:#ffcbc7;
}

.incorrecto .respuesta {
    font-size: 17px;
}

.btn-enviar {
    width: 10%;
    padding: 1%;
    background: var(--color-primario);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px 0px;
    border: none;
}

.btn-enviar:hover {
    background: white;
    color: var(--color-primario);
}