:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
}

.container-fluid{
    padding: 2% 3%;
}
.titulo-modulo {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    color: var(--color-primario);
    text-align: center;
    font-weight: 600;
}

.descripcion {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.titulo-unidad{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    color: var(--color-segundario);
    font-weight: 600;
}

ul{
    list-style-type: none;
}

.unidades{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px; 
    color: var(--color-primario);
    text-shadow: 0.4px 0.4px 1px rgba(0, 0, 0, 0.5);
}

.contenido-unidad{
    padding: 1% 2%;
    font-family: 'Montserrat', sans-serif;
}

