:root{
    --color-primario:#04AAE8;
    --color-segundario:#FBB641;
    --color-fuerte:#19608E;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.footer {
    background-color: #404040;
    color: white;
    text-align: center;
    padding: 2%;
}

.navbar{
    padding: 0% 0%;
}

.navbar .container-fluid{
    background-color: var(--color-primario);
    padding: 0.5%;
}
.navbar .menu-usuario{
    background:transparent;
    border: none;
    color: white
}
.btn-perfil{
    border: none;
    background: transparent;
}

.nav-barra{
    color: #FFF;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin: 0 5px;
}

.navbar-brand{
    /* font-family: 'Roboto', sans-serif; */   
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.dropdown-menu{
    border: none;
    border-radius: 0px;
}

.dropdown-menu .dropdown-item{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-primario);
}

.dropdown-menu .dropdown-item:hover{
    background-color:var(--color-primario);
    color: #FFF;
}

/* Pie de pagina */
#piePagina {
    background-color: #404040;
    color: white;
    padding: 1%;
}

#piePagina .iconos a i {
    color: white;
    font-size: x-large;
}

#piePagina .iconos a i:hover {
    color: var(--color-primario);
}

#piePagina .iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

#piePagina .datos {
    text-align: center;
    margin-top: 10px;
    border-left: solid 1px white;
    align-items: center;
}

#piePagina .datos p {
    font-size: 16px;
    margin-bottom: 5px;

}

#piePagina img {
    width: auto; /* La imagen ajustará su tamaño automáticamente */
    max-width: 100px; /* Establece un ancho máximo para la imagen */
    margin: 5px auto;
}


#copy {
    margin: 1% 0 0 0;
    /* border-top: #FFF solid 1px; */
}
/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    #piePagina .iconos {
        margin-top: 8px; /* Reduce el margen en dispositivos móviles */
    }

    
    #piePagina .datos p {
        font-size: 14px; /* Reduce el tamaño de fuente en dispositivos móviles */
    }
}

/* Estilos específicos para tabletas */
@media (min-width: 768px) and (max-width: 991px) {
    #piePagina .iconos {
        margin-top: 0px; /* Ajusta el margen en tabletas */
    }

    #piePagina .datos p {
        font-size: 15px; /* Ajusta el tamaño de fuente en tabletas */
    }
}
