#cabeza {
    background-image: url('/images/login.jpg');
    height: 35vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    color: white;
}
:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
}

ul li {
    list-style: none;
    text-align: left;
    margin-left: 15px ;
}

ul li i {
    color: var(--color-segundario);
}

h3 {
    text-transform: uppercase;
    text-align: start;
    color: var(--color-primario);
    font-size: 12px;
}
.titulo-nivel{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    /* text-transform: uppercase; */
    text-shadow: 2px 2px 2px rgb(0, 0, 0,0.7);
    background-color: var(--color-primario);
    padding: 5px;
}

.titulo-contenido{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primario);    
}
.titulo-contenido .nombre{
    text-shadow: 1px 1px 2px rgb(0, 0, 0,0.8);
}
.nivel h5{
   color: #04AAE8;
}
.nivel h5 i{
    color: var(--color-segundario);
 }
.numero {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--color-primario);
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    font-size: 22px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0,0.5);
}