:root{
    --color-primario:#04AAE8;
    --color-segundario:#FBB641;
    --color-fuerte:#19608E;
}

body{
    background-image: linear-gradient(120deg, rgb(4, 170, 232,0.7) 0%, rgb(4, 170, 232,0.7) 100%), url(/images/fondo-bie.png);
    background-position: center;
    background-size: cover;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: var(--color-segundario);
}
hr{
    color: #04AAE8;
}





.cont-datos{
    background-color: white;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5);
    
}
.btn-nuevo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: var(--color-segundario);
    border-style: none;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    margin: 2%;
    width: 10%;
    /* font-size: 18px; */
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.btn-nuevo:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
    color: var(--color-segundario);
    background-color: #FFF;
}


#datos strong i{
    margin-right: 6px;
    font-size: 18px;
}

#datos strong{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#datos p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.cont-datos{
    width: 86%;
    margin: 3% 7%;
}