@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@300;400;500&display=swap');

:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-rojo: #F44336;
    --color-verde: #4CAF50;
}

thead tr th {
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;   
}

tbody tr td {
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;   
}

