
#formulario {
    padding: 1% 0% 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario .lista-formulario {
    background-color: white;
    padding: 14px;
    border-radius: 5px;
    width: 95%;
    box-shadow: 2px 2px 5px rgb(95, 95, 95);
    margin-top: 2%;
}


.lista-formulario .informacion a {
    font-size: 20px;
    color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 100%;
    text-decoration: none;
}

.lista-formulario .informacion a i {
    color: var(--color-segundario);
    margin: 0 3px;
}

.lista-formulario .botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}