:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-navbar: #000000;
    --borde-general: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.navbar {
    background: var(--color-primario);
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    color: white;
  
}

#navbar .nav-link {
    color: white;
    border-radius: 5px;
    margin: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


#logout {
    padding: 10px;
    background-color: white;
    color: var(--color-fuerte);
    border-radius: var(--borde-general);
    text-decoration: none;
}

#logout:hover {
    background-color: var(--color-fuerte);
    color: #fff;
}


.home_content {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    max-height: 100vh;
    overflow-y: auto;
    padding: 3%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 100%), url(/images/fondo-bie.png);
 
}

.home_content .titulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color-segundario);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.7);
}

.home_content .btn-nuevo {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--color-segundario);
    border-style: none;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: box-shadow 0.3s, transform 0.3s;
    text-decoration: none;
    margin: 2%;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.home_content .btn-nuevo:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
    color: var(--color-segundario);
    background-color: #FFF;
}


.btn-nuevo i {
    margin: 0 5px;
    font-size: 18px;
}

.home_content .btn-cancelar {
    background-color: #E0E0E0;


}

.home_content .btn-actualizar {
    background-color: var(--color-fuerte);
    color: white;
}

.home_content .btn-eliminar {
    background-color: #F44336;
    color: white;

}

.home_content .btn-crear {
    background-color: #4CAF50;
    color: white;
}