:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-rojo: #F44336;
    --color-verde: #4CAF50;
}

#modulos {
    padding: 1% 0% 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modulos .lista-modulos {
    background-color: white;
    padding: 14px;
    border-radius: 5px;
    width: 95%;
    box-shadow: 2px 2px 5px rgb(95, 95, 95);
    margin-top: 2%;
}

#modulos .lista-modulos .informacion a {
    font-size: 20px;
    color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 100%;
    text-decoration: none;
}

#modulos .lista-modulos .informacion a i {
    color: var(--color-segundario);
    margin: 0 3px;
}

#modulos .lista-modulos .botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#modulos .info-modulo {
    background-color: white;
    padding: 2%;

}


#modulos .info-modulo .titulo-unidad {
    font-size: 20px;
    font-weight: 600;
    margin: 2% 0;
    font-family: 'Montserrat', sans-serif;
}


#modulos .unidad {
    background-color: var(--color-segundario);
    margin: 1% 0;
    padding: 6px;
    border-radius: 5px;

}

#modulos .unidad a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#modulos .unidad a i {
    color: var(--color-primario);
}

#modulos .info-modulo .cont-unidad {
    padding: 1% 2%;

}

.cont-unidad .btn-contenido {
    background-color: #04AAE8;
    font-family: 'Roboto', sans-serif;
}

.cont-unidad .btn-contenido i {
    color: white;
}

.cont-unidad ul{
    list-style-type: none;
}
.formulario{
    text-decoration: none;
    font-size: 16px;
    color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.formulario i{
    color: var(--color-segundario);
}