@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@300;400;500&display=swap');

:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-rojo: #F44336;
    --color-verde: #4CAF50;
}

.table {
    border: 1px solid #04AAE8;
    text-align: center;
    vertical-align: middle;
}
#notas{
    padding:1% 2% 4% 2%;
}
tr .nombre {
    background-color: var(--color-primario);
    color: white;
    /* text-shadow: 2px 2px 3px #FBB641; */
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}