:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-rojo: #F44336;
    --color-verde: #4CAF50;
}

#pregunta {
    padding: 1% 0% 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .pregunta .datosPregunta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0%;
} */
#botonFlotante {
    position: fixed;
    top: 100px;
    /* Ajusta la distancia desde el borde inferior */
    right: 50px;
    /* Ajusta la distancia desde el borde derecho */
    z-index: 1000;
    /* Asegúrate de que el botón esté por encima de otros elementos */
}
.pregunta {
    border-radius: 5px;
    background-color: var(--color-segundario);
    padding: 1%;
    margin: 1% 0%;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
}

#descripcionForm{
    background: white;
    width: 70%;
    border-radius: 10px;
    /* border: 1px solid rgb(187, 187, 187); */
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
}

.pregunta .respuesta {
    padding: 1% 4%;
    font-family: 'Montserrat', sans-serif;
}

#contenidoFormulario {

    padding: 1%;    
}


#contenidoPregunta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo {

    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin: 1% 0%;
}


@media only screen and (max-width: 600px) {
    .pregunta {
        border-radius: 0px;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
    }
}
