:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-rojo: #F44336;
    --color-verde: #4CAF50;
}
#respuesta {
    padding: 1% 0% 4% 0%;
}

.table{
    text-align: center;
    width: 90%;
    border: solid 2px var(--color-primario);
}

.pregunta {
    border: solid 1px var(--color-segundario);
    background-color: var(--color-segundario);
    padding: 2%;
    border-radius: 5px;
    margin: 2% 0%;
}

.accordion-item .accordion-button{
    color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.respuesta_usuario i{
    color: var(--color-segundario);

}
