:root {
    --color-primario: #04AAE8;
    --color-segundario: #FBB641;
    --color-fuerte: #19608E;
    --color-rojo: #F44336;
    --color-verde: #4CAF50;
}
 .table{
    text-align: center;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
 }

.group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-floating {
    flex-grow: 1;
    margin-right: 10px;
}

.group .btn{
    background: var(--color-segundario);
    color: #fff;
}

.modalMostrar{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.modalMostrar .datosUsuario p{
    margin-bottom: 8px;    
}

.modalMostrar .datosUsuario p i{
    color: var(--color-primario);
    /* text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.4); */
}
.subtitulo{
    color: var(--color-segundario);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-family: 'Montserrat', sans-serif;
}

.modulosAsignados{
    list-style-type: none;
    padding: 1% 3%;
}

.modulosAsignados i{
    color: var(--color-segundario);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#datosUsuario{
    text-align: left;
}
#datosUsuario p strong i{
    color: var(--color-primario);
}



 
  